page-collection {
    ion-content {
        background-color: #EEB111 !important;
        margin-top:50px;

        .photos {
            img {
                width: 150px;
                display: inline;
            }
        }
    }
}
