page-leaderboard {

    ion-content {


        ion-list {
            ion-item-sliding.futureinning {                
               .item {
                       background-color: #666 !important;                       
                   }
                }
            ion-item-sliding {                
                 .item {
                    background-color: #D31245;                    
                    .item-inner {
                           background-image: none !important;
                       }
                 }                 
            
                }
            ion-item-sliding:nth-child(odd) {
                .item {
                   background-color: #00447C;
                }
           }

           .event-item {
            background-color: #D31245;
            ion-label {

                p {
                    color:white;
                } 
                h2 {
                    color: white;                    
                }
                h2.inning {
                    color: #EEB111;
                }
            }
            
        }
        
        }
        
    }
}