upload {

    .picture-input {
        display: none;
    }

    .logo {
        padding: 50px 0px 0px 0px;
        text-align: center;
    
        img {
          max-width: 250px;
        }
      }

    .intro {
        margin-left: 20px;
    }

    .theme {
        padding: 20px 0px;
        ul {
            li {
                list-style: none;
            }
        }
    }

    .button-md-braves-blue {
        background-color: #00447C;        
    }

    .avatar {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        margin: 0 auto;
        border: 5px solid #f1f1f1;
        box-shadow: 0 0 5px #999;
    }
}