page-vote {
    
    ion-header {
        h3 {
            color: #D31245;
            font-size: 15px;
            margin-bottom: 0;
            padding: 0px 10px;
        }
        h4 {
            margin-top: 0;
            padding: 0px 10px;
            color: #00447C;
            font-size: 14px;
        }
    }

    ion-content {
        .scroll-content {
            // first load of vote page has overlapping content
            margin-top: 165px !important;    
        }

        ion-card {
            .vote {
                margin-top: -59px;
                margin-left: -2px;
                color: white;
            }
            .voted {
                margin-top: -59px;
                margin-left: -2px;
                color: #EEB111;
            }
        }
    }
}

.vote-prompt {
    .toast-wrapper {
        background-color: #EEB111;         
        width: 80%;       
    }

    .toast-message {        
        text-align:center;        
    }
}